---
layout: default
title: "Notes"
permalink: /notes/
excerpt: "'<small>I think one of the motives of science is to leave some kind of memorial behind oneself.
And people can do that in a variety of ways. They can make discoveries and be remembered for that. But there 
is also a modest role a scientist can play, and that is to assemble information and material which, in long run, will be helpful
to others. [...] The idea that one's scientific life has to be motivated by the off-chance that one may make great discovery,
 and be remembered for that was too risky, too much of a gamble. I preferred the more modest approach.' -S. Chandrasekhar</small> "
header:
  overlay_image: gravitation_shelfie.jpg
  overlay_filter: 0.7
author_profile: true
---
{% include base_path %}

{% for post in site.notes reversed %}
  {% include archive-single.html %}
{% endfor %}
