---
layout: archive
title: "Notes"
permalink: /notes/
author_profile: true
---
The idea that one's scientific life has to be motivated by the off-chance that one may make great discovery,
 and be remembered for that was too risky, too much of a gamble. I preffered the more modest approach [...]
 But the main emphasis in your life is to concentrate on producing as permanent a body of knowledge as you are capable of. 
{% include base_path %}

{% for post in site.notes reversed %}
  {% include archive-single.html %}
{% endfor %}
